<h2 class="text-xl font-bold mb-4">Request List</h2>
<ul>
  <li *ngFor="let request of requests" class="border p-4 mb-4 rounded-lg shadow-md">
    <ng-container *ngIf="request">
      <p class="text-blue-500"><span class="font-bold">User Email:</span> {{ request.userEmail }}</p>
      <p class="text-white"><span class="font-bold">Amount:</span> {{ request.amount | currency }}</p>
      <p class="text-white"><span class="font-bold">Method:</span> {{ request.method }}</p>
      <p class="text-white"><span class="font-bold">Type:</span> {{ request.type }}</p>
      <p class="text-white"><span class="font-bold">Created At:</span> {{ request.createdAt | date }}</p>
    </ng-container>
  </li>
  <li *ngIf="requests?.length === 0" class="text-gray-700">
    No requests available.
  </li>
</ul>
